/* Custom properties and variables  */

:root {
  --custom-white: #f0f0f0;
  --custom-gray: #999;
  --custom-blue: #45567d;
  --custom-blue-light: #75d0e3;
  --custom-black: #000;
}

/* Basic reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */

html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4.2rem;
}
h1,
h2 {
  font-family: monospace, sans-serif;
  font-weight: 700;
  text-align: center;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--custom-white);
}
img {
  display: block;
  width: 100%;
}
::-webkit-scrollbar {
  width: 1.5vw;
}
@media (max-width: 700px) {
  ::-webkit-scrollbar {
    width: 2.5vw;
  }
}
@media (max-width: 400px) {
  ::-webkit-scrollbar {
    width: 4.5vw;
  }
}
/* Track */
::-webkit-scrollbar-track {
  background-color: #000;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--custom-blue-light), var(--custom-blue));
  background: -webkit-linear-gradient(var(--custom-blue-light), var(--custom-blue));
  border-radius: 10px;
  transition: color 2.2s ease;
  -webkit-transition: color 2.2s ease;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(var(--custom-blue), var(--custom-blue-light));
  background: -webkit-linear-gradient(var(--custom-blue), var(--custom-blue-light));
}

/* Navigation */

#navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--custom-black);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 5;
}
#navbar > ul {
  display: flex;
  margin-right: 2rem;
}
.nav-list a {
  color: var(--custom-blue-light);
  font-size: 2.2rem;
  display: block;
  padding: 2rem;
  transition: background-color 0.8s ease;
  -webkit-transition: background-color 0.8s ease;
  -moz-transition: background-color 0.8s ease;
  -ms-transition: background-color 0.8s ease;
  -o-transition: background-color 0.8s ease;
}
.nav-list a:hover {
  background-color: var(--custom-blue);
}
@media (max-width: 319px) {
  #navbar > ul {
    margin-right: 0;
  }
  .nav-list a {
    padding: 0;
    padding-right: 0.7rem;
  }
  .project-title {
    font-size: 1.7rem !important;
  }
}

/* Welcome section */

#welcome-section::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(alexander-sinn-KgLtFCgfC28-unsplash.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
  background-blend-mode: luminosity;
  background-color: whitesmoke;
  opacity: 0;
  animation: backg-anim 35s infinite;
  animation-delay: 6s;
}
@keyframes backg-anim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
}
#welcome-section {
  position: relative;
  color: var(--custom-white);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
#welcome-section > h1 {
  margin-top: 5%;
  padding: 0 2%;
  text-shadow: 0 0 2px var(--custom-white);
  color: var(--custom-blue-light);
  background-color: transparent;
  animation: shadow 20s infinite;
  box-shadow: 0 0 4px var(--custom-blue);
  border-radius: 30%;
}
@keyframes shadow {
  0% {
    border-radius: 30%;
  }
  30% {
    box-shadow: 0 0 100px var(--custom-blue-light);
    border-radius: 0%;
  }
  40% {
    box-shadow: 0 0 4px var(--custom-blue);
    border-radius: 50%;
  }
  100% {
    box-shadow: 0 0 4px var(--custom-blue);
    border-radius: 30%;
  }
}
#welcome-section > h1 > span {
  opacity: 0;
  display: inline-block;
  animation: animate-hey 1s linear forwards;
}
@keyframes animate-hey {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }
}
#welcome-section > h1 > span:nth-child(1) {
  animation-delay: 1s;
}
#welcome-section > h1 > span:nth-child(2) {
  animation-delay: 2s;
}
#welcome-section > h1 > span:nth-child(3) {
  animation-delay: 2.5s;
}
#welcome-section > h1 > span:nth-child(4) {
  animation-delay: 3s;
}
#welcome-section > h1 > span:nth-child(5) {
  animation-delay: 3.5s;
}
#welcome-section > h1 > span:nth-child(7) {
  animation-delay: 3.75s;
}
#welcome-section > h1 > span:nth-child(8) {
  animation-delay: 4s;
}
#welcome-section > h1 > span:nth-child(10) {
  animation-delay: 4.5s;
}
#welcome-section > h1 > span:nth-child(11) {
  animation-delay: 4.75s;
}
#welcome-section > h1 > span:nth-child(12) {
  animation-delay: 5s !important;
}
#welcome-section > h1 > span:nth-child(13) {
  animation-delay: 5.5s !important;
}
#welcome-section > p {
  color: var(--custom-blue);
  font-style: italic;
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  background-color: #000;
  box-shadow: 2px 2px 131px var(--custom-blue);
  margin-top: 1vh;
  padding: 0.5em;
  opacity: 0;
  animation: animate-frontend 2s linear forwards;
  animation-delay: 5.75s;
}
@keyframes animate-frontend {
  0% {
    opacity: 0;
    box-shadow: 2px 2px 131px var(--custom-blue);
  }
  50% {
    box-shadow: 2px 2px 200px var(--custom-blue);
  }
  100% {
    opacity: 1;
    box-shadow: 2px 2px 131px var(--custom-blue);
  }
}
@media (max-width: 375px) {
  #welcome-section > p:not(#smile) {
    text-shadow: 0 0 0 var(--custom-blue-light);
  }
}
#welcome-section > p#smile {
  color: var(--custom-blue);
  transform: rotate(85deg);
  animation-name: smiley;
  animation-delay: 5.75s;
  animation-duration: 1.5s;
  text-shadow: 0 0 1px var(--custom-blue);
}
@keyframes smiley {
  0% {
    opacity: 0;
    transform: rotate(360deg);
  }
  100% {
    opacity: 1;
  }
}
#welcome-section i.fas.fa-arrow-down {
  background: -webkit-linear-gradient(var(--custom-blue), var(--custom-blue-light));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  font-size: 5rem;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 48%;
  animation: arrow-anim 3s infinite;
  animation-delay: 6s;
  opacity: 0;
}
@keyframes arrow-anim {
  0% {
    opacity: 0;
    filter: blur();
  }
  70% {
    opacity: 0.8;
  }
}
#first-break,
#second-break {
  display: none;
}
@media (max-width: 494px) {
  #second-break {
    display: block !important;
  }
}
@media (min-width: 287px) and (max-width: 323px) {
  #first-break {
    display: block !important;
  }
}

/* Projects section */

#project-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--custom-white);
}
#project-section-header {
  color: var(--custom-black);
  max-width: 740px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--custom-black);
}
@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* Image grid */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
.project {
  background: var(--custom-black);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
.code {
  color: var(--custom-gray);
  transition: color 0.3s ease-out;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
}
.project:hover .code {
  color: var(--custom-blue-light);
}
.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.project:hover .project-image {
  transform: translateY(-8px);
}
.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}
.btn-show-all {
  font-size: 2rem;
  background: var(--custom-black);
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
}
.btn-show-all:hover i {
  color: var(--custom-blue-light);
}
.btn-show-all:hover > i {
  transform: translateX(2px);
}
.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
}

/* Contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background-image: linear-gradient(transparent, transparent, #000),
    url('https://i.ibb.co/LNCwfTz/imattsmart-kig-HD-r-VJz-A-unsplash.jpg');
  background-attachment: fixed;
  background-size: cover;
}
.contact-section-header > h2 {
  font-size: 6rem;
  color: var(--custom-blue);
}
.contact-section-header > p {
  color: var(--custom-blue);
}
@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}
.contact-section-header > p {
  font-style: italic;
}
.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}
.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px var(--custom-blue);
  transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
}
.contact-details:hover {
  transform: translateY(8px);
}

/* Footer */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  color: #82899a;
  background: #000;
  border-top: 4px solid var(--custom-black);
}
footer > p {
  margin: 2rem;
}
footer i {
  vertical-align: middle;
}
footer a {
  color: var(--custom-blue-light);
}
@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
